body.light {
  background-image: url("../images/background-light.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
body.dark {
  background-image: url("../images/background-dark.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}
.light div.container {
  max-width: 700px;
  margin: 10px auto;
  border: 5px solid goldenrod;
  border-radius: 10px;
  text-align: center;
  background-color: rgb(253, 213, 243);
}
.dark div.container {
  max-width: 700px;
  margin: 10px auto;
  border: 5px solid rgb(139 99 0);
  border-radius: 10px;
  text-align: center;
  background-color: rgb(141 25 31);
}
p {
  padding: 20px;
  font-size: 20px;
}
button {
  font-size: 18px;
  padding: 3px;
  margin: 20px 10px;
  border: 3px solid black;
  border-radius: 7px;
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.4);
  transition: all 200ms ease-in-out;
}
a {
  font-size: 22px;
  transition: all 200ms ease-in-out;
}
.dark a {
  color: #1cbeff;
  font-size: 22px;
  transition: all 200ms ease-in-out;
}
footer {
  font-size: 18px;
  padding: 4px;
  margin-top: 15px;
}
.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 15px;
  margin: 10px;
}
.grid img {
  width: 100%;
  height: 100%;
  border: 1px solid goldenrod;
  border-radius: 10px;
  transition: all 100ms ease-in-out;
}
.leftAlign {
  text-align: left;
}
.dark button {
  background-color: rgb(185 0 79);
  border: 3px solid white;
  color: white;
}
.light button {
  background-color: rgb(255, 196, 240);
  color: black;
}
img.mainImage {
  margin-bottom: 18px;
  width: 400px;
  padding: 5px;
  border: 1px solid rgba(9, 9, 9, 0.8);
  border-radius: 100px;
}
.grid img:hover {
  transform: scale(1.7);
}
.light a:hover {
  color: rgb(91, 157, 255);
}
.dark a:hover {
  color: rgb(16, 207, 255);
}
.light button:hover {
  background-color: maroon;
  color: white;
}
.dark button:hover {
  background-color: rgb(253, 213, 243);
  color: black;
  border: 3px solid black;
}
